@use 'variables' as v;
//Google fonts
//Nunito & Noto Sans Traditional Chinese -full axis
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

//base
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: normal;
}
#app {
  max-width: 992px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
}
img {
  vertical-align: middle;
  min-width: 100%;
}
body {
  min-height: 100vh;
  color: v.$blue-100;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.2;
  font-family:
    'Nunito',
    'Noto Sans TC',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  padding: 1.5rem 1rem;
}
