@use 'variables' as v;
.banner {
  min-height: 350px;
  background:
    linear-gradient(rgba(v.$blue-300, 0.35), rgba(v.$blue-300, 0.35)),
    url('/banner.jpg') no-repeat right center/cover;
  div {
    width: 75%;
  }
  display: flex;
  align-items: center;
  justify-content: center;
}
.introduction {
  .img-block {
    width: 50%;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    img {
      width: 100%;
    }
  }
  @media (min-width: v.$pad) {
    display: flex;
    align-items: center;
    .img-block {
      width: 35%;
      margin-right: 2rem;
    }
  }
}

.work {
  .img-block {
    display: flex;
    justify-content: center;
    figure {
      margin-right: 1rem;
      margin-left: 1rem;
    }
  }
  .btn-group {
    display: flex;
    justify-content: center;
    @media (min-width: v.$pad) {
      justify-content: end;
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  div {
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    img {
      margin-bottom: 1rem;
    }
  }
}
