@use 'variables' as v;

//color
.heading-dark {
  color: v.$blue-500;
}
.heading-brown-200 {
  color: v.$brown-200;
}
.text-light {
  color: v.$blue-100;
}
.text-blue-200 {
  color: v.$blue-200;
}
.text-blue-300 {
  color: v.$blue-300;
}
.text-blue-400 {
  color: v.$blue-400;
}
.notice-blue-200 {
  color: v.$blue-200;
}
.notice-brown-300 {
  color: v.$brown-300;
}

//background
.bg-dark {
  background-color: v.$blue-300;
}
.bg-light {
  background-color: v.$brown-100;
}
.bg-orange {
  background-color: v.$brown-200;
}

//typography
.h1 {
  font-size: v.$h1;
  font-weight: 700;
}
.h2 {
  font-size: v.$h2;
  font-weight: 600;
}
.h2-chinese {
  font-size: v.$h2;
  font-weight: 500;
}
.h3 {
  font-size: v.$h3;
  font-weight: 700;
}
.h3-chinese {
  font-size: v.$h3;
  font-weight: 600;
}
.text {
  font-size: v.$text;
}
.lh-lg {
  line-height: 1.5;
}
.fw-b {
  font-weight: bold;
}
.text-center {
  text-align: center;
}

//display
.d-block {
  display: block;
}

//space
.mb-1 {
  margin-bottom: 1rem;
}

.p-1 {
  padding: 1rem;
}
//width
.w-fit {
  width: fit-content;
}
