@use 'variables' as v;

//color
.heading-dark {
  color: v.$blue-500;
}
.heading-brown-200 {
  color: v.$brown-200;
}
.text-light {
  color: v.$blue-100;
}
.text-blue-200 {
  color: v.$blue-200;
}
.text-blue-300 {
  color: v.$blue-300;
}
.text-blue-400 {
  color: v.$blue-400;
}
.notice-blue-200 {
  color: v.$blue-200;
}
.notice-brown-300 {
  color: v.$brown-300;
}

//background
.bg-dark {
  background-color: v.$blue-300;
}
.bg-light {
  background-color: v.$brown-100;
}
.bg-orange {
  background-color: v.$brown-200;
}

//typography
.h1 {
  font-size: v.$h1;
  font-weight: 700;
}
.h2 {
  font-size: v.$h2;
  font-weight: 600;
}
.h2-chinese {
  font-size: v.$h2;
  font-weight: 500;
}
.h3 {
  font-weight: 700;
}
.h3-chinese {
  font-weight: 600;
}
.text {
  font-size: v.$text;
}
.lh-lg {
  line-height: 1.5;
}
.fw-b {
  font-weight: bold;
}
.text-center {
  text-align: center;
}
.text-nowrap {
  text-wrap: nowrap;
}

//btn
.btn-light {
  padding: 0.5rem 1.5rem;
  color: v.$blue-400;
  background-color: v.$brown-200;
  border: 1px solid v.$brown-200;
  border-radius: 12px;
  &:hover {
    color: v.$brown-300;
    background-color: v.$blue-200;
    border: 1px solid v.$blue-200;
  }
}
.btn-dark {
  padding: 0.5rem 1.5rem;
  color: v.$brown-200;
  background-color: v.$blue-400;
  border: 1px solid v.$blue-400;
  border-radius: 12px;
  &:hover {
    color: v.$blue-300;
    background-color: v.$brown-100;
    border: 1px solid v.$brown-100;
  }
}
//display
.d-block {
  display: block;
}

//space
.mb-s {
  margin-bottom: 0.5rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}

.mr-1 {
  margin-right: 1rem;
}
.p-1 {
  padding: 1rem;
}
//width
.w-fit {
  width: fit-content;
}
